- Ejercicio 1
Descarga el fecha siete Airlines Delay: Airline on-time statistics and delay causas y cárgalo en un Pandas Dataframe. Explora los datos que contiene, explica brevemente qué variables existen y queda únicamente con las columnas que consideres relevantes. Justifica tu elección.

-> Airlines Delay: Airlines on-time statistics and delay causas

Importante

Reduce la dimensión del dataset de forma aleatoria para obtener un dataset de sólo 200.000 registros. Todos los ejercicios deben realizarse con este dataset reducido.



- Ejercicio 2
Realiza un informe completo del dataset:

Resume estadísticamente el dataset y las columnas de interés. Haz un análisis estadístico de lo que consideres relevante.
Encuentra cuántos datos faltantes hay por columna.
Crea nuevas columnas (velocidad media del vuelo, si ha llegado tarde o no...).
Haz una mesa de las aerolíneas con mayores retrasos acumulados.
¿Cuáles son los vuelos más largos? ¿Y los más atrasados? Busca las rutas más largas y las que acumulen más retrasos.
Aporta lo que consideres relevante.


- Ejercicio 3
Exporta el dataset limpio y con las nuevas columnas a Excel.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#cargamos el data set a un dataframe de pandas
df=pd.read_csv(r'C:\Users\wcc30\Desktop\DelayedFlights.csv')

#info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

Hemos decidido primero comenzar con el calculo de datos missing para tener mayor criterio y una causalidad para eliminar variables innecesarias que podrían afectar por su gran cantidad de datos missing.

In [3]:
#Calculamos la suma de los datos faltantes de los datos missing de cada variable:
print("Suma de datos missing:\n", df.isnull().sum())

#Prefiero mejor visualizar los datos missings en %, ya que nos permite tener un mejor análisis de ellos
print("\nPorcentaje de datos missing % :\n", round((df.isnull().sum()*100/df.shape[0]),2))

Suma de datos missing:
 Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

Porcentaje de datos missing % :
 Unnamed: 0            0.00
Year                  0.00
Month                 0.00
DayofMonth            0.00
DayOfWeek             0.00
DepTime               0.00
CRSDepTime            0.00
ArrTime               0.37
CRSArrTime            0.00
UniqueCarrier         0.00
FlightNum             0.00
TailNum               0.00
ActualElapsedTime     0.43
CRSElapsedTime        0.01
AirTime               0.43
ArrDelay              0.43
DepDelay              0.00
Origin                0.00
Dest                  0.00
Distance              0.00
TaxiIn                0.37
TaxiOut               0.02
Cancelled             0.00
CancellationCode      0.00
Diverted              0.00
CarrierDelay         35.59
WeatherDelay         35.59
NASDelay             35.59
SecurityDelay        35.59
LateAircraftDelay    35.59
dtype: float64

Podemos observar que "CarrierDelay", "WeatherDealy", "NASDelay", "SecurityDelay", "LateAircraftDelay" son las variables que tienen un porcentaje altos de datos missing, por lo cual seran las primeros que eliminaremos.

Otras variables que decidimos eliminar son:

-"Cancelled", debido a que hay otra variable similar codificada "CancellationCode".

-"DayOfWeek", dias de la semana son datos irrelevantes.

-"Unnamed: 0"

-"TaxiIn", datos irrelevantes para posterior análisis.

-"TaxiOut", datos irrelevantes para posterior análisis.

Las demás variables que tienen NAs, debido a que es minimo el porcentaje de datos faltantes que tienen, realizaremos la eliminacion de estos datos.

In [7]:
#Eliminamos los NAs restantes
df= df.dropna()

#Eliminamos los registros duplicados
df = df.drop_duplicates()

Agruparemos 3 variables: "Year" , "Month" y "DayofMonth" en una sola variable "Data", para posteiormente eliminar las 3 primeras mencionadas

In [8]:
df['Data'] = df['DayofMonth'].map(str) + '-' + df['Month'].map(str) + '-' + df['Year'].map(str)
df.sort_values(['Data'])

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Data
110966,354266,2008,1,1,2,1058.0,1050,1345.0,1312,FL,...,10.0,0,N,0,8.0,0.0,25.0,0.0,0.0,1-1-2008
127482,413189,2008,1,1,2,836.0,815,1020.0,920,MQ,...,7.0,0,N,0,0.0,0.0,39.0,0.0,21.0,1-1-2008
127481,413188,2008,1,1,2,656.0,625,849.0,740,MQ,...,59.0,0,N,0,0.0,31.0,38.0,0.0,0.0,1-1-2008
127455,413134,2008,1,1,2,1202.0,1050,1154.0,1045,MQ,...,8.0,0,N,0,0.0,0.0,0.0,0.0,69.0,1-1-2008
127424,413073,2008,1,1,2,703.0,635,654.0,620,MQ,...,14.0,0,N,0,28.0,0.0,6.0,0.0,0.0,1-1-2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469264,5060677,2008,9,9,2,1744.0,1414,149.0,2238,UA,...,12.0,0,N,0,141.0,0.0,0.0,0.0,50.0,9-9-2008
1509108,5305041,2008,9,9,2,1423.0,1240,1708.0,1450,AA,...,18.0,0,N,0,0.0,0.0,37.0,0.0,101.0,9-9-2008
1519244,5357679,2008,9,9,2,1914.0,1700,2122.0,1900,CO,...,27.0,0,N,0,0.0,0.0,38.0,0.0,104.0,9-9-2008
1519395,5358476,2008,9,9,2,1508.0,1241,1811.0,1515,CO,...,34.0,0,N,0,0.0,0.0,176.0,0.0,0.0,9-9-2008
1449037,4955647,2008,9,9,2,2129.0,1930,2250.0,2118,XE,...,22.0,0,N,0,92.0,0.0,0.0,0.0,0.0,9-9-2008

Eliminamos las variabless

In [9]:
df = df.drop(['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
         'LateAircraftDelay', 'Unnamed: 0', 'DayOfWeek', 'Cancelled'
        , 'TaxiIn', 'TaxiOut','Year', 'Month', 'DayofMonth'], axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1247486 entries, 3 to 1936755
Data columns (total 18 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   DepTime            1247486 non-null  float64
 1   CRSDepTime         1247486 non-null  int64
 2   ArrTime            1247486 non-null  float64
 3   CRSArrTime         1247486 non-null  int64
 4   UniqueCarrier      1247486 non-null  object
 5   FlightNum          1247486 non-null  int64
 6   TailNum            1247486 non-null  object
 7   ActualElapsedTime  1247486 non-null  float64
 8   CRSElapsedTime     1247486 non-null  float64
 9   AirTime            1247486 non-null  float64
 10  ArrDelay           1247486 non-null  float64
 11  DepDelay           1247486 non-null  float64
 12  Origin             1247486 non-null  object
 13  Dest               1247486 non-null  object
 14  Distance           1247486 non-null  int64
 15  CancellationCode   1247486 non-null  object
 16  Diverted           1247486 non-null  int64
 17  Data               1247486 non-null  object
dtypes: float64(7), int64(5), object(6)
memory usage: 180.8+ MB

Como pudimos ver inicialmente en la info del dataframe,las variables "Diverted" y "FlightNum" estan reconocidas como variables numéricas por lo cual las definimos como categóricas para no tener valores erróneos al realizar el resúmen estadístico de las variables númericas.

In [10]:
df['Diverted'] = df['Diverted'].astype('category')
df['FlightNum'] = df['FlightNum'].astype('category')

In [11]:
df_new = df.sample(n=200000)
df_new

,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,CancellationCode,Diverted,Data
165325,1636.0,1525,1817.0,1711,AS,418,N960AS,101.0,106.0,83.0,66.0,71.0,PDX,SJC,569,N,0,6-1-2008
1028140,1942.0,1935,2258.0,2236,NW,958,N336NW,136.0,121.0,94.0,22.0,7.0,MEM,MCO,683,N,0,5-6-2008
1478719,1916.0,1856,2043.0,2027,DL,821,N918DE,87.0,91.0,61.0,16.0,20.0,ATL,MLB,443,N,0,18-9-2008
314753,1738.0,1725,2047.0,2030,MQ,4430,N815AE,129.0,125.0,109.0,17.0,13.0,ORD,HPN,738,N,0,27-2-2008
587792,934.0,925,1724.0,1655,WN,189,N430WN,290.0,270.0,266.0,29.0,9.0,PHX,PHL,2075,N,0,15-4-2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1410073,1642.0,1620,2132.0,1929,B6,381,N632JB,290.0,189.0,162.0,123.0,22.0,LGA,FLL,1076,N,0,15-8-2008
1469534,1216.0,1136,1336.0,1304,UA,888,N571UA,80.0,88.0,52.0,32.0,40.0,SFO,LAX,337,N,0,17-9-2008
860280,1115.0,1010,1246.0,1135,AA,1956,N555AA,91.0,85.0,74.0,71.0,65.0,DFW,MSY,448,N,0,14-5-2008
1923768,1925.0,1905,2306.0,2231,CO,1748,N74856,161.0,146.0,117.0,35.0,20.0,IAH,FLL,965,N,0,26-12-2008
1103254,1746.0,1625,1915.0,1810,WN,1487,N467WN,209.0,225.0,195.0,65.0,81.0,MCI,OAK,1489,N,0,23-7-2008

In [13]:
df_new.describe().applymap("{0:.2f}".format)

,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance
count,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00,200000.00
mean,1558.81,1488.20,1617.72,1652.78,135.61,131.97,107.63,63.12,59.48,743.24
std,453.84,420.87,582.93,461.15,72.50,69.72,68.34,60.22,59.39,560.76
min,1.00,0.00,1.00,0.00,16.00,8.00,0.00,15.00,6.00,31.00
25%,1233.00,1151.00,1328.00,1340.00,83.00,81.00,58.00,26.00,24.00,334.00
50%,1618.00,1528.00,1737.00,1722.00,118.00,115.00,90.00,43.00,41.00,595.00
75%,1924.00,1830.00,2048.00,2022.00,167.00,161.00,136.00,79.00,75.00,972.00
max,2400.00,2359.00,2400.00,2359.00,679.00,660.00,651.00,1542.00,1545.00,4962.00

Creamos la nueva variable "Delayed" (Retraso)

In [15]:
#Añadimos la columna Delayed,si ha llegado tarde (True) y sino (False)
df_new['Delayed']=df_new.ActualElapsedTime>df_new.CRSElapsedTime

df_new[['ActualElapsedTime','CRSElapsedTime','Delayed']].head(10)

         ActualElapsedTime  CRSElapsedTime  Delayed
165325               101.0           106.0    False
1028140              136.0           121.0     True
1478719               87.0            91.0    False
314753               129.0           125.0     True
587792               290.0           270.0     True
1085092              125.0           130.0    False
1221002               77.0            75.0     True
449999               317.0           295.0     True
1490441              162.0           175.0    False
965071               136.0           130.0     True

Creamos la variable "veloc_mean" (Velocidad Media)

In [16]:
df_new['veloc_mean']=round(df_new['Distance']*60/df_new['AirTime'],2)

df_new.groupby('UniqueCarrier')[['UniqueCarrier','veloc_mean']].head()

        UniqueCarrier  veloc_mean
165325             AS      411.33
1028140            NW      435.96
1478719            DL      435.74
314753             MQ      406.24
587792             WN      468.05
...               ...         ...
351813             AQ      362.22
351866             AQ      370.29
164167             AQ      260.87
164220             AQ      376.15
164346             AQ      527.20

[100 rows x 2 columns]

¿Cuáles son los vuelos más largos?

In [17]:
vuelos_largos = df_new[['FlightNum','Origin','Dest','Distance']].groupby(['Distance']).first().reset_index()
vuelos_largos.sort_values(by=['Distance'],ascending=False)[:10]

      Distance FlightNum Origin Dest
1364      4962        15    EWR  HNL
1363      4502      1560    HNL  ATL
1362      4243         2    HNL  ORD
1361      4213         3    KOA  ORD
1360      4184         3    ORD  OGG
1359      3972       625    MSP  HNL
1358      3904        72    HNL  IAH
1357      3784       102    HNL  DFW
1356      3711         7    DFW  OGG
1355      3417      1414    ANC  ATL

¿Y los más atrasados?

In [18]:
#Atraso en la llegada:
df_new[['FlightNum','UniqueCarrier','Origin','Dest','ArrDelay']].sort_values(by='ArrDelay',ascending=False)[:10]

        FlightNum UniqueCarrier Origin Dest  ArrDelay
685437       1472            NW    MOT  MSP    1542.0
163379       2398            AA    EGE  MIA    1525.0
521096       1743            NW    BNA  MEM    1490.0
685763       1606            NW    SJU  DTW    1395.0
1554448      1765            NW    PHL  DTW    1392.0
315259       4477            MQ    VPS  ORD    1357.0
1599337       394            NW    SMF  MSP    1346.0
1905241      1598            AA    LAS  DFW    1298.0
1400101      1968            AA    SLC  DFW    1286.0
323499       1077            NW    TPA  IND    1203.0

In [19]:
#Atraso en la salida:
df_new[['FlightNum','UniqueCarrier','Origin','Dest','DepDelay']].sort_values(by='DepDelay',ascending=False)[:10]

        FlightNum UniqueCarrier Origin Dest  DepDelay
685437       1472            NW    MOT  MSP    1545.0
521096       1743            NW    BNA  MEM    1490.0
685763       1606            NW    SJU  DTW    1401.0
1554448      1765            NW    PHL  DTW    1369.0
315259       4477            MQ    VPS  ORD    1357.0
1599337       394            NW    SMF  MSP    1351.0
1400101      1968            AA    SLC  DFW    1300.0
163379       2398            AA    EGE  MIA    1275.0
349082       2036            AA    SLC  DFW    1215.0
1193616       927            FL    PHL  ATL    1206.0

Tabla de los aeropuertos con mas retrasos acumulados

In [20]:
df_new.groupby('UniqueCarrier').sum()['Delayed'].sort_values(ascending=False).head(10)

UniqueCarrier
WN    11707
AA    11122
MQ     8311
OO     7435
UA     7034
DL     6970
XE     5770
NW     5281
CO     4833
US     4814
Name: Delayed, dtype: int64

In [21]:
df_new.to_excel('TascaPython.xlsx')
df_new.to_csv('TascaPython.xlsx')